body {
    background-color: #ecf0f1;
    text-align: center;
    padding: 10px;
}
.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    "nav nav nav nav"
    "image profile profile profile"
    "work work work work"
    "skills skills education education"
    "projects projects blogs blogs"
    "footer footer footer footer"
    ;
    
    margin: 0 auto;
    color: black;
    background-color: #ffffff;
    padding: 10px;
}
.nav-bar{
    background-color: #154360;
    grid-area: nav;
    padding: 10px;
}
.nav-bar a {
    display: inline-block;
    color: #ffffff;
    text-align: left;
    padding: 10px 30px;
    
    text-decoration: none;
}
#about-image-container{
    display: contents;
}
#image{
    grid-area: image;
    background-color: #ecf0f1;
    padding: 20px;
    width: 310px;
}
#image img {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    margin: 0;
}
#profile{
    grid-area: profile;
    background-color: #ecf0f1;
    height: auto;
    padding-top: 10px;
}
#work{
    grid-area: work;
    background-color: #a9cce3;
    padding: 20px;
    margin: 10px 0;
}
#skills {
    grid-area: skills;
    background-color: #e1dedd;
    padding: 10px;
    margin-bottom: 10px;
    text-align: left;
}

#education {
    grid-area: education;
    background-color: #e1dedd;
    padding: 10px;
    margin-bottom: 10px;
    text-align: left;
    margin-left: 1px;
}
#projects {
    grid-area: projects;
    background-color: #fdebd0;
    padding: 20px;
    margin-bottom: 10px;
}

#blogs {
    grid-area: blogs;
    background-color: #fdebd0;
    padding: 20px;
    margin-bottom: 10px;
    margin-left: 1px;
}
#edu{
    display: inline-block;
    margin: 10px 20px;
    padding: 20px;
}



h1, h4{
    margin: 0px;
    text-align: center;
    color: black;
}
h3{
    margin: 0px;
}
.contact li{
    margin: 8px;
}
#line1{
    height: 1px;
    background-color: black;
}

#workp{
    margin: 5px 0px 5px 50px;
    
}
#menu-icon{
    position: fixed;
    margin: 10px;
    font-size: 18px;
    color: white;
    cursor: pointer;
}
footer {
    grid-area: footer;
    background-color: #154360;
    padding: 20px;
    color: #ffffff;
}
#icon{
    font-size: 30px;
    margin-right: 180px;
    margin-top: 20px;
}
#icon1{
    font-size: 30px;
    
    margin-top: 20px; 
}
#education:target, #projects:target, #experience:target, #blogs:target, #contact:target, #profile:target{
    background-color: #777d7e;
}
.nav-bar .menu-icon{
    display: none;
}
@media only screen and (max-width: 500px) {
    .container {
        
        grid-template-columns: 1fr;
        grid-template-areas:
            "nav"
            "image"
            "profile"
            "work"
            "skills"
            "education"
            "projects"
            "blogs"
            "footer"
        ;
    }
   
    
    
    .nav-bar a:not(.menu-icon) {
        display: none;
    }

    .nav-bar a.menu-icon {
        display: block;
        cursor: pointer;
    }


    .nav-bar.responsive a {
        display: block;
        text-align: center;
        width: 100%;
        padding: 10px;
        background-color: #154360;
        border-top: 1px solid #ffffff;
    }


    .nav-bar.responsive a.menu-icon {
        position: absolute;
        right: 10px;
        top: 10px;
    }

    
    #image {
        width: 100%;
        margin: 0 auto;
    }


    

}

